@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


@if (Model.CategoryName == "Fotboll")
{
    <h1 class="mma-header">@Model.CategoryName</h1>

    <div class="mma">
        <div class="mma-container">


            @foreach (var article in Model.CategoryArticles)
            {
                @if (DateTime.Today == article.Article.CreatedAt)
                {
                    <div class="stats">
                        <h3 class="info-header">@article.Article.Title</h3>
                        <h5 class="info" id="fotball-from">From: @article.Article.FromCountry</h5>
                        <div class="info" id="fotball-description">@article.Article.Description</div>
                        <h6 class="info">Total Matches: @article.Article.TotalMatches</h6>
                        <h6 class="info">Total Goals: @article.Article.Wins</h6>

                        <span class="info"><small>Published at: @article.Article.CreatedAt.ToString("MMMM dd, yyyy")</small></span>
                    </div>
                    <img class="mma-picture" src="@article.Article.ImageUrl" />
                }
            }

        </div>
    </div>

    <div class="mma-btn-startsida">
        <a class="btn btn-danger tillbaka-mma" href="/">Till Startsidan</a>
    </div>
}